@font-face {
    font-family: 'Pretendard';
    src: url('/style/fonts/pretendardVariable.woff2') format('woff2');
}

*{
    font-family: 'Pretendard';
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.noEffectDef{
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contactsLink{
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    transition: 120ms ease-in-out;
    background: greenyellow;
}
.contactsLink:hover{
    opacity: 1;
}

#linkCard{
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
    border-radius: 88888cm;
    width: 360px;
    transition: 120ms ease-in-out;
    cursor: pointer;
}
#linkCard>img{
    border-radius: 8888px;
    width: 72px;
    height: 72px;
}
#linkCard>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#linkCard>div>:first-child{
    font-size: 20px;
}
#linkCard>div>:last-child{
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
}
#linkCard:hover, #linkCard:active{
    filter: brightness(0.9);
    opacity: 0.9;
}

#contacts{
    display: flex;
    gap: 8px;
}