@font-face {
    font-family: 'Pretendard';
    src: url('/style/fonts/pretendardVariable.woff2') format('woff2');
}

*{
    font-family: 'Pretendard';
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}