.GitHub{
    background: url('/images/github-mark.svg');
    background-size: contain;
}
.email{
    background: salmon;
    color: white;
    border-radius: 8080px;
    font-weight: 700;
    font-size: 20px;
}

.playHere{
    background: #DAD9F2;
}
.darak{
    background-color: #9a99ff;
}